@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;1,8..144,100&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto";
  font-family: "Roboto Serif";
}

/* HEADER */

header {
  background-color: #129799;
  text-align: center;
  height: 466px;
}

nav {
  text-align: center;
}

nav a {
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  margin: 18px;
  font-size: 32px;
}

.nav1 {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 25%;
  font-size: 30px;
}

.nav1:hover {
  color: #129799;
}

.nav1 div img {
  display: flex;
  justify-content: space-evenly;
  margin-left: 422%;
  font-size: 49px;
  margin-top: 38px;
}

.nav .nav2 {
  display: flex;
  justify-content: space-evenly;
  font-size: 35px;
  font-weight: 500;
  font-family: "Roboto";
}

figure {
  width: 643px;
  height: 320px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 64px;
  font-weight: 700;
}

/* MAIN */

section {
  background-color: #ffa185;
  height: 970px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.aquarela {
  height: 215px;
  display: flex;
  justify-content: space-between;
}

.aquarela h2 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  font-family: "Roboto";
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  margin-left: 25%;
}
p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 21px;
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
  width: 70%;
}

.picture div {
  width: 595px;
  height: 368px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.picture img {
  width: 613px;
  height: 367px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.veja {
  font-size: 30px;
  font-family: "Roboto";
  display: flex;
  font-weight: 700;
  text-decoration: none;
  color: black;
  flex-direction: column;
  justify-content: center;
}

/* FOOTER */

footer {
  background-color: #129799;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.navf {
  height: 84px;
  width: 1269px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icons {
  height: 54px;
  width: 352px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons img {
  width: 34px;
  height: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ancora {
  height: 36px;
  width: 555px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
